.Card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 160px;
  height: 200px;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

/* 
.Card.tv {
  background-color: bron
} */

.Card-image {
  max-width: 130px;
  max-height: 130px;
  border: 1px solid grey;
}

.Card-title {
  text-decoration: underline;
  flex-wrap: wrap;
  text-align: center;
}

.Card-type {
  font-style: italic;
}

p {
  margin: 0;
}