.App {
  min-height: 86vh;
}

.Search {
  display: flex;
  margin: 30px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.Search input {
  width: 300px;
}

.Cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  margin: 30px;
  justify-content: center;
  align-items: center;
} 