.Card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 160px;
  height: 200px;
  align-items: center;
  justify-content: center;
}

.Card-Image {
  max-width: 140px;
  max-height: 140px;
  border: 1px solid grey;
}

p {
  margin: 0;
}