.Card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 200px;
  height: 200px;
  align-items: center;
  justify-content: center;
}

.Card-Image {
  max-width: 100px;
}

p {
  margin: 0;
}